<%- include('template/header', {tituloWeb:'Page not found'}); %>

    <body>

        <div class="error404">

            <h1>
                <%= description %>
            </h1>
            <h3>
                <%=error %>
            </h3>
            <a href="/">VOLVER</a>


        </div>

    </body>

    </html>