<%- include('template/header', {tituloWeb:'Perpetuo Beats | Producer •'}); %>



  <main>
    <section class="about" id="about">
        <div class="shadow2">
            <div class="aboutcontend">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima neque consectetur
                    odio? Natus odio cum deleniti illum. Et aliquid, laudantium assumenda natus optio rem reiciendis,
                    expedita est iste modi ad?</p>
            </div>
            
        </div>
    </section>
  </main>





<%- include('template/footer'); %>