<%- include('template/header', {tituloWeb:'Perpetuo Beats | Producer •'}); %>


    <%- include('template/options'); %>


        <section class="contact" id="about"> <!-- FOTO">  -->
            <div class="shadowContact"> <!-- sombra ">  -->
                <div class="left">

                    <h1>CONTACT</h1>
                    <h2>If you have any questions or comments, hit me up on WhatsApp.</h2>
                    <p>This form will open whatsApp web.</p>


      
                </div>
                <div class="right">
                    <div class="contenedorcontact">

                        <form class="form" action="" name="form" id="form" method="post">

                            <div class="contenedor-campos" id="contenedor-campos">

                                <div class="campo" id="campo">
                                    <h3 class="title">Message me</h3>
                                </div>

                                <div class="campo" id="campo">
                                    <input class="input-text" type="text" placeholder="name" name="name" id="name">
                                </div>

                                <div class="campo" id="campo">
                                    <input class="input-text" type="tel" placeholder="phone" name="phone" id="phone">
                                </div>

                                <div class="campo" id="campo">
                                    <textarea class="input-text" name="message" id="message"
                                        placeholder="message"></textarea>
                                </div>

                                <input class="btnSend" type="submit" value="Send by WhatsApp" id="send" name="send">
                            </div> <!--cierre div campos-->
                        </form>

                        <a class="no-style" href="/">CANCEL</a>
                    </div> <!-- contenedor formulario -->


                </div>
            </div>
        </section>






        <%- include('template/footer'); %>