:root {

    --blanco: rgb(240, 248, 255);
    --vinotinto: rgb(157, 52, 52);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1 rem = 16px */
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.shadow h2 {

    border-bottom: solid 1px var(--vinotinto);
    margin-top: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
p {
    margin: 0;
    color: rgb(240, 248, 255);
}

a {
    color: rgb(140, 140, 140);
    text-decoration: none;
    transition: letter-spacing 0.3s ease-out;
    /* Transición suave para el efecto */

}

a:hover {
    letter-spacing: 0.1em;
    font-weight: bold;
}

.logoImg {
    width: 34px;
    height: 34px;
    fill: var(--vinotinto);
    transition: fill 0.3s ease;
    /* Transición suave para el cambio de color */

}

.options {
    position: fixed;
    /* Fija el nav en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    text-decoration: none;
    height: 3.5rem;
    transition: height 5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    /* Espacio interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* Opcional: Sombra para mejor visibilidad */
    z-index: 1000;
    border-bottom: 1px solid rgba(143, 143, 143, 0.9);
    transition: height 0.4s ease-out, border-bottom 0.4s ease-out;
    /* Transición lenta para altura y borde */
}

.options:hover {

    background-color: rgba(144, 50, 50, 0.7);
    border-bottom: 1px rgba(144, 50, 50, 0.5);
    height: 6rem;
    transition: height 0.3s ease-in, border-bottom 0.4s ease-in;
    /* Transición rápida para contracción menu */
}

.options:hover a {
    color: aliceblue;
    visibility: visible;
}

.options:hover+main {
    filter: blur(5px);
    /* Aplica blur a todo el contenido dentro del main */
}

main {

    filter: blur(0);
    /* Sin blur inicialmente */
    transition: filter 0.4s ease;
    /* Controla la duración y suavidad de la transición */

}



.options:hover .logoImg path {
    fill: var(--blanco);
    /*CAMBIAR COLOR DE ICONO CUANDO SE HACE HOVER EN EL MENU*/
}

.shadow {
    position: absolute;
    background: linear-gradient(to right, rgb(0, 0, 0) 28%, rgba(0, 0, 0, 0.5) 45%, transparent 100%);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    background-image: url(../img/producer.jpg);
    background-size: 60%;
    background-repeat: repeat-x;
    background-position: center right;
    height: 100vh;
    position: relative;
    filter: brightness(130%);
    /* Aumenta el brillo en un 20% */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadow2 {
    position: absolute;
    background: linear-gradient(to left, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0.5) 65%, transparent 100%);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);

}

.beats {
    background-image: url(../img/producer2.jpeg);
    background-size: 60%;
    background-repeat: repeat-x;
    background-position: center left;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beats-description {

    padding-left: 1rem;
    padding-right: 1rem;
}

.beats-description p {
    color: rgb(218, 218, 218);
    font-weight: bold;
}

.beats-description p a {
    letter-spacing: 0em;
    color: #e73b07;
}

.beats-description p a:hover {
    letter-spacing: 0em;
    color: #e06f4d;
}

.aboutcontend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.beats-frame {
    gap: 1rem;
}


.frame {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.logoBanner {
    width: 15rem;
    height: 15rem;
    max-width: 100%;
    height: auto;
    opacity: 100%;
    transition: 0.5s;
}

.logoBanner:hover {

    opacity: 40%;
}

.titulobanner {
    font-size: 50px;
    color: var(--vinotinto);

}

.subtitlebanner {
    /*AGREGAR GRADIENTE A UN TEXTO*/
    font-size: 25px;
    background: linear-gradient(to right, rgb(77, 77, 77), var(--blanco));
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

/* Define la animación TEXTO BANNER */
@keyframes expandFromCenter {
    0% {
        opacity: 0;
        transform: scale(0.5);
        /* Comienza con una escala más pequeña */
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /* Expande al tamaño original */
    }
}

.textobanner {

    font-family: 'Mr Dafoe';
    opacity: 0;
    /* Inicialmente invisible */
    transform: scale(0.5);
    /* Inicialmente más pequeño */
    animation: expandFromCenter 1s ease-in forwards;
    /* Aplica la animación */
}

.footer {

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(165, 42, 42, 0.5);
    height: 100px;
    z-index: 1000;
}


.whatsappIcon {
    animation: arrowBounceicon 1s ease-in infinite;
}

/* Definición de la animación */
@keyframes arrowBounceicon {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-0.3rem);
    }

    100% {
        transform: translateX(-50%) translateY(0rem);
    }
}

.arrow {
    width: 12rem;
    position: fixed;
    /* Posiciona la flecha de forma fija */
    bottom: 2rem;
    /* Ajusta la distancia desde el borde inferior */
    left: 50%;
    /* Centra la flecha horizontalmente */
    transform: translateX(-50%);
    /* Asegura que esté centrada correctamente */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos si es necesario */
    animation: arrowBounce 2s infinite;
    /*Aplica la animación */
}

/* Definición de la animación */
@keyframes arrowBounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-2rem);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.error404,
h1,
h3 {

    color: black;

}

.error404,
h3 {

    margin-bottom: 20px;
}

.error404 {

    padding: 20px;
}

@media (max-width: 1530px) {

    .banner {
        background-size: cover;
        background-repeat: no-repeat;

    }

    .beats {
        background-size: cover;
        background-repeat: no-repeat;

    }

    .logoBanner {
        transition: height 0.9s ease, width 0.9s ease;
    }
}

@media (max-width: 1400px) {

    .logoBanner {
        width: 12rem;
        height: 12rem;
        transition: height 0.9s ease, width 0.9s ease;
    }
}